################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/src/DevOpsChallenge.SalesApi/bin/
/src/DevOpsChallenge.SalesApi/obj/
/src/DevOpsChallenge.SalesApi.Business/bin/
/src/DevOpsChallenge.SalesApi.Business/obj/
/src/DevOpsChallenge.SalesApi.Database/bin/
/src/DevOpsChallenge.SalesApi.Database/obj/
/tests/DevOpsChallenge.SalesApi.Business.UnitTests/obj/
/tests/DevOpsChallenge.SalesApi.Business.UnitTests/bin/
/tests/DevOpsChallenge.SalesApi.IntegrationTests/obj/
/tests/DevOpsChallenge.SalesApi.IntegrationTests/bin/
*.csproj.user
